{% load static %}

<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: {{ settings_address }}</li>
                            <li>Phone: {{ settings_phone }}</li>
                            <li>Email: {{ settings_email }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="/delivery-information">Delivery information</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms-of-usage">Terms of Usage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="/subscribe" method="POST">
                            {% csrf_token %}

                            <input type="email" name="email" placeholder="Enter your mail" required>
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="{{ settings_facebook_link }}"><i class="fa fa-facebook"></i></a>
                            <a href="{{ settings_instgram_link }}"><i class="fa fa-instagram"></i></a>
                            <a href="{{ settings_twitter_link }}"><i class="fa fa-twitter"></i></a>
                            <a href="{{ settings_pintrest_link }}"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        {% comment %} <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div> {% endcomment %}
                        
                        <div class="footer__copyright__text">
                            <p>
                                Copyright &copy; {% now "Y" %} All rights reserved | Order
                            </p>
                        </div>
                        
                        <div class="footer__copyright__payment"><img src="{% static 'images/payment-item.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->